.header_iner{
    display: flex;
    justify-content: space-between;
    
}
.nav{
    margin-top: 29px;
}
 header{
    padding: 50px 0;
    background-color: #EEEFF1;

}
.nav_link{
    font-family: 'Roboto';
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-left: 42px;
    font-style: normal;
    font-weight: normal; 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    ;
}
.nav_link:first-child {
    margin-left: 398px;
}

.nav_link:hover{
    text-decoration: underline;
}
.nav_link:last-child{
    margin-right: 377px;
}
.logo{
font-family: 'Revalia';
font-size: 48px ;
margin-left: 402px;;
margin-top: 7px;
line-height: 60px;

}
.DISAIN_conteiner{
width: 540px;
margin-top: ;
margin-left: 142px;

}
.DISAIN{ 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin-top: 257px;

}
  
.about_me{
    display: flex;
}
.img1{
    margin-top: 278px;
    margin-left: 514px;    
    width: 357px;
    height: 225px;
    margin-bottom: 188.3px;
}
.fish1{
    font-family:'Roboto';
    font-style: normal;
    font-weight:normal;
    font-size: 16px;
    line-height: 26px;
}
button{
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    border: none;
}

button:hover{
    background-color: white;
    color: violet;
}
button:focus{
    background-color: red;
    color: yellow;
}